<!doctype html>
<html ng-app lang="ja">
      <head>
          <meta charset="UTF-8"/>
          <title>Youtube Search</title>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
          <script src="app.js"></script>
      </head>
      <body>
          <h1>YoutubeSearch</h1>
          <div ng-controller="mainCtrl">
              <form ng-submit="doSearch()" name="myForm">
                  <input type="text" ng-model="query" required>
                  <input type="submit" value="search" ng-disabled="myForm.$invalid">
              </form>
              <h2>Results</h2>
              <ul style="list-style:none;padding:0" ng-show="results.length">
                  <li ng-repeat="result in results">
                      <img ng-src="{{ result.media$group.media$thumbnail[0].url }}" />
                      {{result.title.$t}}
                  </li>
              </ul>
              <p ng-hide="results.length">上から検索！</p>
          </div>
      </body>
</html>
